@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'aniMe';
  src: url('/AniMeMatrix-MB_EN.ttf');
}


:root {

  /* Primary Colors: */
  --primaryColor: #008000; /* Green - Represents plants and the natural aspect of gardening */
  --seaBlue: #05394f; /* Symbolizes hydroponics and adds a cool, calming touch to the color scheme. */
  --earthBrown: #8B4513; /* Represents soil and earthy tones, connecting with the grounded and organic nature of gardening. */

  /* Secondary Colors: */
  --skyBlue: #00BFFF; /* Complements the deep sea blue and adds a touch of vibrancy. */
  --flatWhite: #f5f5f5; /* Maintains a clean and modern look, suitable for backgrounds and enhancing readability. */
  --lightGrey: #bdbdbd; /* Adds depth and contrast, suitable for text, borders, or subtle accents. */
  --darkGrey: #333333; /* Adds depth and contrast, suitable for text, borders, or subtle accents. */
  --orange: #FFA500; /* Adds warmth and energy, suitable for call-to-action elements. */
  --charcoal: #242424; /* Adds depth and contrast, suitable for text, borders, or subtle accents. */
  /* Accent Color: */
  --gold: #FFD700; /* Represents sunlight, energy, and a positive gardening experience. */

  /* Font: */
  --titleFont: 'aniMe', serif;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset some default styles */
* {
  box-sizing: border-box; /* Ensures that padding and border are included in the element's total width and height */
  margin: 0;
  padding: 0;
}

